ng-map {
  height: 500px;
  width: 100%;
}

.buttons {
  text-align: center;
}

.jumbotron {
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  min-height: 500px;
}

.panel {
  padding: 5em;
  min-height: 80%;
  max-width: 100%;
  max-height: 90%;
  background-color: rgba(255,255, 255, 0.5);
  color: black;
  border: none;
}

form {
  margin-bottom: 30px;
}

.navbar {
  margin-bottom: 0px;
}

.jumbo-one {
  background-image: url(../images/image_three.jpg);
}

.jumbo-two {
  background-image: url(../images/image_one.jpg);
}

.jumbo-three {
  background-image: url(../images/image_two.jpg);
}
