ng-map {
  height: 500px;
  width: 100%;
}

.buttons {
  text-align: center;
}

.jumbotron {
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  min-height: 500px;
}

.panel {
  padding: 5em;
  min-height: 80%;
  max-width: 100%;
  max-height: 90%;
  background-color: rgba(255,255, 255, 0.5);
  color: black;
  border: none;
}

form {
  margin-bottom: 30px;
}

.navbar {
  margin-bottom: 0px;
}

.jumbo-one {
  background-image: url(../images/image_three.jpg);
}

.jumbo-two {
  background-image: url(../images/image_one.jpg);
}

.jumbo-three {
  background-image: url(../images/image_two.jpg);
}

.contact-section {
  margin-bottom: 30px;
}

.bs-callout {
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.info-box-top {
  position: relative;
  padding: 10px 10px 5px;
  margin: 10px 0 0;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0 ;
}

.info-box-bottom {
  position: relative;
  padding: 5px 10px 10px;
  margin: 0 0 15px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #f7f7f9;
}

abbr {
  text-decoration: none !important;
  border-bottom: 1px dotted #777;
}

#form-response {
  padding: 5px;
}

#csv-file {
  display: none;
}

#csv-filepath {
  height: auto;
  cursor: default;
}
