<div ng-controller="MainCtrl">
<div class="jumbotron jumbo-one">
  <div class="container">
  <p>Revolutionary Online Lost and Found Office.</p>
  </div>
</div>
<div class="jumbotron jumbo-two">
  <div class="container">
    <div class="col-md-4">
      <h2>Success.</h2>
      <p>LostCrowdFound helps you find your lost valuables!</p>
      <a class="btn btn-danger" ng-click="searchForItem()">I lost something!</a>
    </div>
    <div class="col-md-8">
      <img src="../images/image_one.jpg"/>      
    </div>
  </div>
</div>
<div class="jumbotron jumbo-three">
  <div class="container">
    <div class="col-md-8">
            <img src="../images/image_two.jpg"/>
    </div>
    <div class="col-md-4">
    <h2>Time saving.</h2>
      <p>Just a few clicks instead of a trip to a lost and found office.</p>
      <a class="btn btn-success" href="#/foundItem">I found something!</a>      
    </div>
  </div>
</div>
