<div ng-controller="MainCtrl">
  <div class="jumbotron jumbo-one">
    <div class="container">
        <div class="panel panel-default text-center" >
          <h1>LostCrowdFound.</h1>
          <p>An innovative online lost and found office.</p>
          <a class="btn btn-primary btn-lg" href="#/register">Register now!</a>
        </div> 
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo-two">
    <div class="container">
      <div class="panel panel-default">
        <h2>Success.</h2>
        <p>LostCrowdFound helps you find your lost valuables! <br>
          Search thousands of lost items for yours.
        </p>
        <a class="btn btn-primary btn-lg" ng-click="searchForItem()">I lost something!</a>  
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo-three">
    <div class="container">
      <div class="panel panel-default">
        <h2>Time saving.</h2>
        <p>Just a few clicks instead of a trip to a lost and found office.</p>
        <a class="btn btn-primary btn-lg" href="#/foundItem">I found something!</a>
      </div>
    </div>
  </div>
</div>
