<div class="container" ng-controller="ContactCtrl as vm">
  <div class="bs-docs-section" id="contact-partner">
    <div class="col-lg-6">
      <h2>Advertisers</h2>
      <p>Meet your target group at LostCrowdFound and help our users to fill their demand for a replacement for their lost items!</p>
      <button type="button" class="btn btn-primary" ng-click="vm.requestAd()">Advertise on LostCrowdFound</button>
    </div>
    <div class="col-lg-6">
      <h2>Lost and Found Offices</h2>
      <p>Use our data import tool and let people find their lost items online at no extra cost!</p>
      <button type="button" class="btn btn-primary" ng-click="vm.importItems()">Import Items</button>
    </div>
  </div>
  <div class="bs-docs-section" id="contact-postal">
    <h2>Contact</h2>
    <address>
      <strong>LostCrowdFound Ltd.</strong><br>
      Crowdedstreet 42<br>
      1337 City<br>
      <a href="mailto:contact@lostcrowdfound.com">contact@lostcrowdfound.com</a>
    </address>
  </div>
</div>
