<div class="container">
    <h2>You lost an item?</h2>
    <p>Just fill out this form and search for it!</p>
    <form name="form" ng-submit="vm.search()" role="form" ng-controller="LostitemCtrl as vm">
        <div class="row">
            <div class="form-group col-md-6 col-sm-8 col-xs-10" ng-class="{ 'has-error': form.email.$error.required }">
                <label for="type">Specify the type of your lost item.</label>
                <select class="form-control" ng-model="vm.typeSelection">
                    <option ng-repeat="type in vm.types">{{type}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-sm-8 col-xs-10" ng-class="{ 'has-error': form.email.$error.required }">
                <label for="brand">What brand is it?</label>
                <select class="form-control" ng-model="vm.brandSelection">
                    <option ng-repeat="brand in vm.brands">{{brand}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-sm-8 col-xs-10" ng-class="{ 'has-error': form.email.$error.required }" required>
                <label for="brand">Could you specify the model?</label>
                <select name="brand" class="form-control" ng-model="vm.modelSelection">
                    <option ng-repeat="model in vm.models">{{model}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-sm-8 col-xs-10">
                <label for="datePicker">When did you lose it?</label>
                <uib-datepicker name="date" ng-model="vm.date" datepicker-options="vm.dtOptions" is-open="true"></uib-datepicker>
            </div>
        </div>
        <div class="row" ng-show="vm.showAd">
            <div class="form-group col-md-6 col-sm-8 col-xs-10">
                <label for="ad">Sorry that we could'nt find your item... Maybe this might fit?</label>
                <img src="../images/ad.png" />
            </div>
        </div>
        <div class="form-group">
            <label for="map">Specify the position where you lost it.<br>Just drag around the circle and adjust the radius!</label>
            <ng-map max-zoom="15" min-zoom="8" zoom="13" center="current-position" name="map" street-view-control="false" default-style="false">
                <marker id="{{item._id}}" position="{{item.lat}}, {{item.lon}}" animation="DROP" on-click="vm.showContact(item)" ng-repeat="item in vm.items" ng-if="vm.markerVisible"></marker>
                <shape id="circle" name="circle" center="current-position" centered="true" stroke-color='#FF0000'
                stroke-opacity="0.8" stroke-weight="2" on-center_changed="vm.centerChanged()"
                on-radius_changed="vm.radiusChanged()" radius="{{vm.radius}}" editable="true" ng-if="vm.circleVisible"></shape> <!-- -->
                <info-window id="contact-iw">
                   <div ng-non-bindable="">
                     <button class="btn btn-primary" ng-click="vm.contactFinder()">Contact!</button>
                   </div>
                </info-window>
            </ng-map>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Search</button>
            <a href="#/" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
