<div ng-controller="MainCtrl">
  <div class="jumbotron jumbo-two">
    <div class="container">
      <div class="panel panel-default">
        <h2>Lost something?</h2>
        <p>Your item may have already been found!
        </p>
        <a class="btn btn-primary btn-lg" ng-click="searchForItem()">Search for it now!</a>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo-three">
    <div class="container">
      <div class="panel panel-default">
        <h2>Found something?</h2>
        <p>A good deed only a few mouseclicks away.</p>
        <a class="btn btn-primary btn-lg" ng-click="addFoundItem()">Register an item now!</a>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo-one">
    <div class="container">
        <div class="panel panel-default text-center" >
          <h1>LostCrowdFound.</h1>
          <p>Modern way of lost and found.</p>
          <a class="btn btn-primary btn-lg" href="#/register">Register now!</a>
        </div>
      </div>
    </div>
  </div>
</div>
