<div ng-controller="MainCtrl">
  <div class="jumbotron jumbo-one">
    <div class="container">
        <div class="panel panel-default" >
            <h2>Register</h2>
                <form name="form" ng-submit="register()" role="form" ng-controller="RegisterCtrl">
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6 col-xs-10" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required } ">
                            <label for="username">Username</label><br>
                            <input class="form-control input-large" type="text" name="username" id="username" class="form-control" ng-model="username" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6 col-xs-10" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" class="form-control" ng-model="password" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6 col-xs-10" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="username">E-Mail</label><br>
                            <input class="form-control" type="text" name="email" id="email" class="form-control" ng-model="email" required />
                        </div>
                    </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
                    <a href="#/" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div> 
      </div>
    </div>
  <div class="jumbotron jumbo-two">
    <div class="container">
      <div class="panel panel-default">
        <h2>Lost something?</h2>
        <p>Your item may have already been found!
        </p>
        <a class="btn btn-primary btn-lg" ng-click="searchForItem()">Search for it now!</a>  
      </div>
    </div>
  </div>
  <div class="jumbotron jumbo-three">
    <div class="container">
      <div class="panel panel-default">
        <h2>Found something?</h2>
        <p>A good deed only a few mouseclicks away.</p>
        <a class="btn btn-primary btn-lg" href="#/foundItem">Register an item now!</a>
      </div>
    </div>
  </div>
</div>
